<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>

Are you sure you want delete this file?

<form method="POST" action=".">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>

</body>
</html>