<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>

<div><a href="/accounts/logout/"><span>logout</span></a></div>

this is a profile page

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
</form>

{% for document in documents %}
    <br>
    {{ document.profile }}
    {{ document.name }}
    <a href="{% url 'homework:delete' document.id %}"><span>delete</span></a>
    <a href="{% url 'homework:download' document.url %}"><span>download</span></a>
{% endfor %}

</body>
</html>
